.user-png {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  background-image: linear-gradient(to right, pink, purple);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: bold;
}

.btn-nav {
  
   background-image: linear-gradient(to right,  pink, purple); /*Fallback */
  border-radius: 5px;
  color: black !important;
  font-weight: bold;
}

