.signup {
  width: 100%;
  height: 100vh;
}
.column {
  height: 100vh;
}
.input-signup {
  outline: none;
}
.sign-up-heading {
  font-size: 100px;
  background-image: linear-gradient(to right, pink, purple);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.8;
}

.btn-signup {
  background-image: linear-gradient(to right, pink, purple);
  background-color: rgba(240, 0, 0, 0.87); /* Fallback */
  color: white;
  outline: none;
  border: none;
}

